.signup-background{
    background-image: url("/images/back1.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.signup-section {
    top: 50%;
    left: 50%;
    width: 25%;
    position: absolute;
    border: solid 1px lightgrey;
    transform: translate(-50%, -50%);
    box-shadow: 2px 0px 10px 5px rgba(0,0,0,0.40);

    & form{
    
        & h1{
            text-align: center;
            padding: 0.5rem 3rem;
            color: var(--theme-color);
            background-color: var(--light-black-color);
        }
    }
}

.signup-details{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0.5rem 2rem;

    & .row{
        height: 35px;
        /* position: relative; */
       
        & span {
            color: red;
        }

        & input{
            height: 100%;
            width: 100%;
            outline: none;
            padding-left: 1rem;
            border-radius: 5px;
            border: 1px solid lightgrey;
            font-size: 16px;
            font-family: 'Urbanist',sans-serif;
            font-weight: 400;
            transition: all 0.3s ease;
        }
    }

    & .fp{
        margin-top: -0.8rem;

        & span{
            color: var(--theme-color);
            font-size: 1.1rem;
            font-weight: 300;
            cursor: pointer;
        }
    }

    & .submit-btn {
        height: 40px;
        margin-top: -0.5rem;

        & input {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            color: var(--theme-color);
            font-size: 20px;
            background: var(--light-black-color);
            border: 1px solid var(--border-color);
            font-family: 'Urbanist',sans-serif;
        }
    }

    & .or {
        display: flex;
        align-items: center; 
        justify-content: center; 
        gap: 10px;
        margin-top: -0.5rem;

        & hr{
            width: 100%;
        }
      
    }

    & .google{
        margin-top: -0.5rem;

        & button{
            border: 1px solid var(--theme-color);
            width: 100%;
            border-radius: 5px;
            display: flex;
            cursor: pointer;
            align-items: center;
            font-family: "Urbanist",sans-serif;
            justify-content: center;
            color: var(--theme-color);

            & img{
                width: 2rem;
            }
        }
    }
      

    & .info {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
        margin-top: -0.5rem;

        & a {
            color: var(--theme-color);
        }
    }

    & .google{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        & span{
            text-align: center;
        }
    }
}