.user-sidebar{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.18fr 0.82fr;
}

.left-user-sidebar{
    padding: 1.6rem 2rem;
    border-right: solid 1px lightgray;
    background-color: rgba(243, 236, 236, 0.1);

    & .user-feature{

        & .userdata{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            & img{
                width: 4rem;
                height: 4rem;
            }

            & span{
                margin-top: 0.5rem;
                font-size: 1.4rem;
                font-weight: 700;
            }
        }

        & .feature-ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 1rem;
        
            & .feature-list {
                width: 100%;
                padding: 0.8rem 1rem;
                border-radius: 8px;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
            }
            
            & .feature-link {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.8rem;
                color: black;
                font-size: 1.2rem;
                text-decoration: none;
                width: 100%;
                padding: 0.5rem;
                transition: color 0.3s ease-in-out;
            }
            
            .feature-icon {
                height: 1.4rem;
                transition: filter 0.3s ease-in-out;
            }
            
            /* Hover effect - changes text and icon color to white */
            .feature-list:hover {
                background-color: var(--theme-color);
            }
            
            .feature-list:hover .feature-link {
                color: white;
            }
            
            .feature-list:hover .feature-icon {
                filter: brightness(0) invert(1); /* Converts the icon to white */
            }
        }
    }
}


